<!DOCTYPE html>
<html lang="en">
<HTML xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="view">


</div>







<!--<div>
<table>
    <thead>
    <tr>
        <th >masterid</th>
        <th>advertisementcode</th>
        <th>fee</th>

    </tr>
    </thead>

    <tbody>

    <tr th:each="iterator:${listextraservices}">
        <td th:text="${iterator.masterid}"/></td>
        <td th:text="${iterator.advertisementcode}"/></td>
        <td th:text="${iterator.fee}"/></td>

    </tr>

    </tbody>

</table>
</div>-->


</body>
</html>